<h1>Here's the canes we have in stock today!</h1>
<h4>Just click the tile of what you want!</h4>

<div class="wrapper">
  <div *ngIf="!canes">Out of stock, check back tomorrow!</div>

  <div *ngIf="standard > 0" class="tile" routerLink="/checkout">
    <img src="../../assets/images/standard-cane.webp" alt="Standard Cane">
    <div class="details">
      <span>Standard Cane</span>
      <br/>
      <br/>
      <span>in stock:  {{ standard }}</span>
    </div>
  </div>

  <div *ngIf="offset > 0" class="tile" routerLink="/checkout">
    <img src="../../assets/images/offset-cane.webp" alt="Offset Cane">
    <div class="details">
      <span>Offset Cane</span>
      <br/>
      <br/>
      <span>in stock:  {{ offset }}</span>
    </div>
  </div>

  <div *ngIf="multipleLegged > 0" class="tile" routerLink="/checkout">
    <img src="../../assets/images/multiple-legged-cane.avif" alt="Multiple-Legged Cane">
    <div class="details">
      <span>Multiple-Legged Cane</span>
      <br/>
      <br/>
      <span>in stock:  {{ multipleLegged }}</span>
    </div>
  </div>

  <div *ngIf="chair > 0" class="tile" routerLink="/checkout">
    <img src="../../assets/images/chair-cane.webp" alt="Chair Cane">
    <div class="details">
      <span>Chair Cane</span>
      <br/>
      <br/>
      <span>in stock:  {{ chair }}</span>
    </div>
  </div>
</div>
