<h1>Here's the walkers we have in stock today!</h1>
<h4>Just click the image of what you want!</h4>

  <div *ngIf="medicalSupplies" class="wrapper">
    <div *ngIf="wheelchairs" class="tile">
        <img src="../../assets/images/standard-walker.jpeg" alt="Wheelchair" routerLink="/checkout">
    </div>
    <div *ngIf="walkers" class="tile">
        <img src="../../assets/images/rollator-walker.jpeg" alt="Walker" routerLink="/checkout">
    </div>
    <div *ngIf="canes" class="tile">
       <img src="../../assets/images/folding-walker.webp" alt="Cane" routerLink="/checkout">
    </div>
    <div *ngIf="crutches" class="tile">
        <img src="../../assets/images/knee-walker.jpeg" alt="Crutches" routerLink="/checkout">
    </div>
</div>
