h1, h2, h3, h4, h5 {
    color: #1976d2;
    text-align: center;
}

.wrapper {
    max-width: 500px;
    margin: auto;

    .tile {
        border: 10px solid #1976d2;
        border-radius: 10px;
        margin: 15px;
        padding: 5px;
        &:hover {
            cursor: pointer;
            background-color: #1976d2;
        }

        img {
            background-color: white;
            margin: 5px;
            width: 200px;
            height: 200px;
        }
        img, .details {
            display: inline-block;
            vertical-align: top;
        }

        .details {
            margin-top: 15px;
            margin-left: 20px;
        }

        span {
            text-align: center;
            vertical-align: top;
            font-size: large;
            font-weight: bold;
        }
    }
}
