<h1>Here's the wheelchairs we have in stock today!</h1>
<h4>Just click the image of what you want!</h4>

  <div *ngIf="medicalSupplies" class="wrapper">
    <div *ngIf="wheelchairs" class="tile">
        <img src="../../assets/images/manual-wheelchair.webp" alt="Wheelchair" routerLink="/checkout">
    </div>
    <div *ngIf="walkers" class="tile">
        <img src="../../assets/images/power-wheelchair.png" alt="Wheelchair" routerLink="/checkout">
    </div>
    <div *ngIf="canes" class="tile">
       <img src="../../assets/images/reclining-wheelchair.jpeg" alt="Wheelchair" routerLink="/checkout">
    </div>
    <div *ngIf="crutches" class="tile">
        <img src="../../assets/images/transport-wheelchair.avif" alt="Wheelchair" routerLink="/checkout">
    </div>
</div>
